.App {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.tech-stuff {
  display: flex;
}


.App-logo {
  height: 90vmin;
  margin: 2em;
  /* position: relative;
  top: 5vmin; */
  /* animation: App-logo-spin infinite 20s linear;
  pointer-events: none; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
