.App {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}



.image {
  height: 60px;;
}

.toolbar {
  display: inline-block;
  /* justify-content: center; */
  border: 1px solid black;
}

.tech-stuff {
  margin: 10px;
  display: flex;
}


.App-logo {
  height: 90vmin;
  margin: 2em;
}





