.App {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .App {
    display: inline-block;
    flex-direction: column;
    justify-content: space-around;
  }

  .tech-stuff {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

}

.image {
  margin: 2em;
  height: 60px;
}

.toolbar {
  display: inline-block;
  margin: 3em;
}

.tech-stuff {
  margin: 10px;
  display: flex;
}

.App-logo {
  height: 90vmin;
  margin: 2em;
}
